<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>An error occured</h1>
    <p>Sorry for the inconvienece. Please try again later!</p>

<%- include('includes/end.ejs') %>